{* This is the welcome page, you can delete it *}

{block content}

<a href ="{link Search}">Search</a>
       



<br>directories: {$directories}
<br>files: {$files}
<br>log: {$log}
{/block}
{*
{block arrayList}

    
	{foreach $crawlerOutput as $item}
        
	{if is_array($item)}
	    {include arrayList, $crawlerOutput => $item} 
	{else}
	    {$item}<br>
	{/if}
	{/foreach}
   

{/block}
*}